~$rd Deck for Playing Games.docx
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Project.sln
build/test.sln
build/test.vcxproj
build/test.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ab0caccb9c8106cb0956.json
build/.cmake/api/v1/reply/codemodel-v2-b884cc13d3a47dde4962.json
build/.cmake/api/v1/reply/index-2021-06-06T22-03-41-0642.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-test-Debug-3879f0e137134dfc79ff.json
build/.cmake/api/v1/reply/target-test-MinSizeRel-a48fd19ba564d07c83a6.json
build/.cmake/api/v1/reply/target-test-Release-6fddfe5365d53a7fd2f4.json
build/.cmake/api/v1/reply/target-test-RelWithDebInfo-af10c073637063ef4488.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-db89608b304dd8927763.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-db89608b304dd8927763.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-db89608b304dd8927763.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-db89608b304dd8927763.json
build/.cmake/api/v1/reply/toolchains-v1-dd35f1d9cd895d137eda.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeSystem.cmake
build/CMakeFiles/3.20.2/VCTargetsPath.txt
build/CMakeFiles/3.20.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/5621039d240db6e112464e3c2fa308eb/generate.stamp.rule
build/Debug/test.exe
build/Debug/test.ilk
build/Debug/test.pdb
build/test.dir/Debug/main.obj
build/test.dir/Debug/test.exe.recipe
build/test.dir/Debug/vc142.pdb
build/test.dir/Debug/test.tlog/CL.command.1.tlog
build/test.dir/Debug/test.tlog/CL.read.1.tlog
build/test.dir/Debug/test.tlog/CL.write.1.tlog
build/test.dir/Debug/test.tlog/CustomBuild.command.1.tlog
build/test.dir/Debug/test.tlog/CustomBuild.read.1.tlog
build/test.dir/Debug/test.tlog/CustomBuild.write.1.tlog
build/test.dir/Debug/test.tlog/link.command.1.tlog
build/test.dir/Debug/test.tlog/link.read.1.tlog
build/test.dir/Debug/test.tlog/link.write.1.tlog
build/test.dir/Debug/test.tlog/test.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.cmake/api/v1/reply/codemodel-v2-55b26bb1c9af353e559b.json
build/.cmake/api/v1/reply/index-2021-06-06T22-06-52-0195.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-db24175fdbcbb1f24d46.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-db24175fdbcbb1f24d46.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-db24175fdbcbb1f24d46.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-db24175fdbcbb1f24d46.json
