~$rd Deck for Playing Games.docx
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Project.sln
build/test.sln
build/test.vcxproj
build/test.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ab0caccb9c8106cb0956.json
build/.cmake/api/v1/reply/codemodel-v2-b884cc13d3a47dde4962.json
build/.cmake/api/v1/reply/index-2021-06-06T22-03-41-0642.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-634e4de4e7033371ff06.json
build/.cmake/api/v1/reply/target-test-Debug-3879f0e137134dfc79ff.json
build/.cmake/api/v1/reply/target-test-MinSizeRel-a48fd19ba564d07c83a6.json
build/.cmake/api/v1/reply/target-test-Release-6fddfe5365d53a7fd2f4.json
build/.cmake/api/v1/reply/target-test-RelWithDebInfo-af10c073637063ef4488.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-db89608b304dd8927763.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-db89608b304dd8927763.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-db89608b304dd8927763.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-db89608b304dd8927763.json
build/.cmake/api/v1/reply/toolchains-v1-dd35f1d9cd895d137eda.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeSystem.cmake
build/CMakeFiles/3.20.2/VCTargetsPath.txt
build/CMakeFiles/3.20.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/5621039d240db6e112464e3c2fa308eb/generate.stamp.rule
build/Debug/test.exe
build/Debug/test.ilk
build/Debug/test.pdb
build/test.dir/Debug/main.obj
build/test.dir/Debug/test.exe.recipe
build/test.dir/Debug/vc142.pdb
build/test.dir/Debug/test.tlog/CL.command.1.tlog
build/test.dir/Debug/test.tlog/CL.read.1.tlog
build/test.dir/Debug/test.tlog/CL.write.1.tlog
build/test.dir/Debug/test.tlog/CustomBuild.command.1.tlog
build/test.dir/Debug/test.tlog/CustomBuild.read.1.tlog
build/test.dir/Debug/test.tlog/CustomBuild.write.1.tlog
build/test.dir/Debug/test.tlog/link.command.1.tlog
build/test.dir/Debug/test.tlog/link.read.1.tlog
build/test.dir/Debug/test.tlog/link.write.1.tlog
build/test.dir/Debug/test.tlog/test.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.cmake/api/v1/reply/codemodel-v2-55b26bb1c9af353e559b.json
build/.cmake/api/v1/reply/index-2021-06-06T22-06-52-0195.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-db24175fdbcbb1f24d46.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-db24175fdbcbb1f24d46.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-db24175fdbcbb1f24d46.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-db24175fdbcbb1f24d46.json
build/cardtest.sln
build/cardtest.vcxproj
build/cardtest.vcxproj.filters
build/.cmake/api/v1/reply/cache-v2-c8228d49a96fda73e8d2.json
build/.cmake/api/v1/reply/codemodel-v2-3fbf3925a604a2245d63.json
build/.cmake/api/v1/reply/index-2021-06-10T11-40-44-0042.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-5e341d4a8ef50144ec84.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-5e341d4a8ef50144ec84.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-5e341d4a8ef50144ec84.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-5e341d4a8ef50144ec84.json
build/.cmake/api/v1/reply/target-cardtest-Debug-11defdabd25e8b3bc4b7.json
build/.cmake/api/v1/reply/target-cardtest-MinSizeRel-b5ea7655493ce28333c0.json
build/.cmake/api/v1/reply/target-cardtest-Release-874a7a4c4a062cdb0b0c.json
build/.cmake/api/v1/reply/target-cardtest-RelWithDebInfo-7b93015c6a6ff5eb956d.json
build/Debug/cardtest.exe
build/Debug/cardtest.ilk
build/Debug/cardtest.pdb
build/cardtest.dir/Debug/cardtest.exe.recipe
build/cardtest.dir/Debug/main.obj
build/cardtest.dir/Debug/vc142.pdb
build/cardtest.dir/Debug/cardtest.tlog/cardtest.lastbuildstate
build/cardtest.dir/Debug/cardtest.tlog/CL.command.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/CL.read.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/CL.write.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/CustomBuild.command.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/CustomBuild.read.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/CustomBuild.write.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/link.command.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/link.read.1.tlog
build/cardtest.dir/Debug/cardtest.tlog/link.write.1.tlog
build/deckofcards.sln
build/deckofcards.vcxproj
build/deckofcards.vcxproj.filters
build/.cmake/api/v1/reply/cache-v2-29dd5e494b684604f036.json
build/.cmake/api/v1/reply/codemodel-v2-c5e95706ee4481946f1b.json
build/.cmake/api/v1/reply/index-2021-06-10T13-46-57-0375.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-4157be0ae53c252a169e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-4157be0ae53c252a169e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-4157be0ae53c252a169e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-4157be0ae53c252a169e.json
build/.cmake/api/v1/reply/target-deckofcards-Debug-384888aa4ced1f083088.json
build/.cmake/api/v1/reply/target-deckofcards-MinSizeRel-4b8c53b28d8e13d221f6.json
build/.cmake/api/v1/reply/target-deckofcards-Release-71ec1cfe750c355e04c6.json
build/.cmake/api/v1/reply/target-deckofcards-RelWithDebInfo-29a4c39397c2a484c02e.json
build/Debug/deckofcards.exe
build/Debug/deckofcards.ilk
build/Debug/deckofcards.pdb
build/deckofcards.dir/Debug/deck.obj
build/deckofcards.dir/Debug/deckofcards.exe.recipe
build/deckofcards.dir/Debug/main.obj
build/deckofcards.dir/Debug/vc142.pdb
build/deckofcards.dir/Debug/deckofcards.tlog/CL.command.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/CL.read.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/CL.write.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/CustomBuild.command.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/CustomBuild.read.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/CustomBuild.write.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/deckofcards.lastbuildstate
build/deckofcards.dir/Debug/deckofcards.tlog/link.command.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/link.read.1.tlog
build/deckofcards.dir/Debug/deckofcards.tlog/link.write.1.tlog
build/test.dir/Debug/deck.obj
.vscode/settings.json
build/.cmake/api/v1/reply/index-2021-06-14T11-54-41-0307.json
build/deckofcards.dir/Debug/deckofcards.tlog/unsuccessfulbuild
build/cardtest.dir/Debug/deck.obj
build/.cmake/api/v1/reply/cache-v2-b7f4b34d05feb7d1b508.json
build/.cmake/api/v1/reply/target-cardtest-Debug-97505d794b432072f379.json
build/.cmake/api/v1/reply/target-cardtest-MinSizeRel-f58e658eb41f2eb42274.json
build/.cmake/api/v1/reply/target-cardtest-Release-45ada39ab9c753da2ca3.json
build/.cmake/api/v1/reply/target-cardtest-RelWithDebInfo-b453fea7caf07116b994.json
build/compile_commands.json
build/deckofcards.exe
build/Makefile
build/.cmake/api/v1/reply/cache-v2-11574be7a56844d0de73.json
build/.cmake/api/v1/reply/codemodel-v2-86e4ab3820c6976f3b31.json
build/.cmake/api/v1/reply/index-2021-06-24T11-53-44-0914.json
build/.cmake/api/v1/reply/target-deckofcards-Debug-bd6f6dea2caaa727383a.json
build/.cmake/api/v1/reply/target-deckofcards-MinSizeRel-8bd312801536d5251c96.json
build/.cmake/api/v1/reply/target-deckofcards-Release-b2365d945b882575d3d9.json
build/.cmake/api/v1/reply/target-deckofcards-RelWithDebInfo-840c306a10fc7072b391.json
build/.cmake/api/v1/reply/codemodel-v2-e4b4267f3337a4b17696.json
build/.cmake/api/v1/reply/index-2021-06-24T12-15-58-0126.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-fc27b6781be91e97eb43.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-fc27b6781be91e97eb43.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-fc27b6781be91e97eb43.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-fc27b6781be91e97eb43.json
build/.cmake/api/v1/reply/index-2021-07-12T11-52-32-0018.json
build/.cmake/api/v1/reply/cache-v2-47a65b475f36fca09f43.json
build/.cmake/api/v1/reply/codemodel-v2-10e0caf1408e6be01872.json
build/.cmake/api/v1/reply/index-2021-07-15T11-46-22-0046.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-b06a18fee2a0276f4624.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-b06a18fee2a0276f4624.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-b06a18fee2a0276f4624.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-b06a18fee2a0276f4624.json
build/.cmake/api/v1/reply/target-cardtest-Debug-0227bd0983156882c75a.json
build/.cmake/api/v1/reply/target-cardtest-MinSizeRel-e3b34974baf7b4ef91ce.json
build/.cmake/api/v1/reply/target-cardtest-Release-25c0bb30441b63707911.json
build/.cmake/api/v1/reply/target-cardtest-RelWithDebInfo-a76a1bccbaa3663aff3a.json
build/.cmake/api/v1/reply/cache-v2-dd8d38831af4a71041e7.json
build/.cmake/api/v1/reply/index-2021-07-15T12-19-05-0042.json
build/.cmake/api/v1/reply/cache-v2-7cff33cf8815e60d6d9a.json
build/.cmake/api/v1/reply/codemodel-v2-e14828cf1d4202f6eb3a.json
build/.cmake/api/v1/reply/index-2021-07-26T11-30-31-0326.json
build/.cmake/api/v1/reply/target-deckofcards-Debug-5ff5ec976e4358abad0c.json
build/.cmake/api/v1/reply/toolchains-v1-8ccd05759a1b9ab8a622.json
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/3.20.2/CompilerIdC/a.exe
build/CMakeFiles/3.20.2/CompilerIdCXX/a.exe
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/deckofcards.dir/build.make
build/CMakeFiles/deckofcards.dir/cmake_clean.cmake
build/CMakeFiles/deckofcards.dir/compiler_depend.make
build/CMakeFiles/deckofcards.dir/compiler_depend.ts
build/CMakeFiles/deckofcards.dir/deck.cpp.obj.d
build/CMakeFiles/deckofcards.dir/depend.make
build/CMakeFiles/deckofcards.dir/DependInfo.cmake
build/CMakeFiles/deckofcards.dir/flags.make
build/CMakeFiles/deckofcards.dir/link.txt
build/CMakeFiles/deckofcards.dir/linklibs.rsp
build/CMakeFiles/deckofcards.dir/main.cpp.obj
build/CMakeFiles/deckofcards.dir/main.cpp.obj.d
build/CMakeFiles/deckofcards.dir/objects1.rsp
build/CMakeFiles/deckofcards.dir/progress.make
